/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.wrapper {
  width: 400px;
  margin: 0 auto 10px;
  padding-bottom: 30px;
  background: #F6ECFF;
  border-radius: 25px;
  position: absolute;
  top: 150px;
  right: 30px;
}

.rang {
  text-align: center;
}

.rang-title {
  display: inline-block;
  width: 300px;

}


.rang-number {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  border-width: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-weight: 900;
  background: #F6ECFF;
  color: #EA5987;
}

.rang-slider[type=range] {
  width: 350px;
  margin-top: 40px;
  -webkit-appearance: none;
  background: #6762A7;
  border-radius: 25px;
}

.rang-slider[type=range]:focus {
  outline: none;

}

.rang-slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 25px;
  background: #0093d7;
  cursor: pointer;
}

.rang-slider[type=range]::-webkit-slider-thumb {
  width: 50px;
  height: 20px;
  margin-top: 0;
  border-radius: 25px;
  background: #1E062D;
  --webkit-appearance: none;
  cursor: pointer;
}

.rang-slider[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  margin-top: 0;
  border-radius: 25px;
  background: #1E062D;
  --webkit-appearance: none;
  cursor: pointer;
}


.rang-slider[type=range]:focus::-webkit-slider-runnable-track {
  background: #a3cd3b;
}

.meter {
  display: block;
  width: 273px;
  height: 155px;
  margin: 0 auto;
}

.meter-left {
  transform: skewX(-2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 253;
  stroke-dasharray: 120 400;
  stroke: #76B7F9;
  fill: none;
}

.meter-center {
  stroke-width: 56;
  stroke-dashoffset: 128;
  stroke-dasharray: 120 400;
  stroke: #EA5987;
  fill: none;
}

.meter-right {
  transform: skewX(2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 5;
  stroke-dasharray: 120 400;
  stroke: #1E062D;
  fill: none;
}

.meter-clock {
  transform: rotate(-54deg);
  transform-origin: 137px 146px;
  fill: #6762A7;
}

.meter-circle {
  fill: #6762A7;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/